.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.AppProper {
    height: 90vh;
    margin-top: 3vh;
    display: flex;
}

.Text {
    margin-bottom: 3vh;
}

.TillNext {
    color: hotpink;
    font-weight: 600;
}

.Side {
    min-width: 200px;
    margin: 50px;
    display: flex;
    align-items: end;
}

.RedButtonVisible {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background: red;
}

.RedButtonInvisible {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vh;
    width: 100vw;
    background: white;
}

.StartButtonVisible {
    height: fit-content;
}

.StartButtonInvisible {
    opacity: 0;
}